.login
{
    background-color: transparent;
    border: none;
}

#profile
{
    position: absolute;
    margin-top: 31px;
    padding-left: 4px;
}

#navbarDropdown
{
    color:#fff;
}

.profile
{
    color: #fff;
}

.polo .container
{
  display: block;
  max-width: 80%;
  margin-top: 34px;

}

.polo .container img {
  margin: auto;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
}

.polo2 img
{
    height: 115px;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.polo2
{
    position: relative;
}


.text
{
    position: absolute;
    top: 95px;
    color: #fff;
    left: 1px;
    background-color: rgba(37,158,223,0.8);
    width: 172px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ctext
{
    position: relative;
}

.text1
{
    position: absolute;
    bottom: 0px;
    background-color: rgba(37,158,223,0.8);
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loginContainer
{
    display: none;
    position: relative;
}

.sidenavbar
{
    margin: 0px;
    padding: 0px;
    width: 250px;
    line-height: 58px;
    position: absolute;
    z-index: 10;
}

ul
{
    width: 250px;
    left: 0px;
    position: relative;
    list-style: none;
    height: 100%;
    color: #fff;
    background-color: #5d84ad;
}

.bodycontainer
{
    position: relative;
}

.block
{
    background-color: transparent;
    border: none;
}

#home :hover
{
    background-color: azure;
} 

#about :hover
{
    background-color: azure;
} 

#contract :hover
{
    background-color: azure;
} 

